#img_cesae{
    margin-bottom: 5%;
    margin-left: 60%;
}
.formLogin{
    height: 330px;
    margin-left: 80%;
}
#email{
    margin: 10%;
    padding: 10%;
    border-width: 1px;
    width: 300px;
}
#password{
    margin:10%;
    padding: 10%;
    border-width: 1px;
    width: 300px;
}
#btnLogin{
    margin: 10%;
    transition: background-color 0.7s ease;
    width: 300px;
    margin-top: 28px;
}
#btnLogin:hover{

    background-color: #eb0089;
}
#name{
    margin:10%;
    padding: 10%;
    border-width: 1px;
    width: 300px;
}
#register{
    margin: 10%;
    width: 300px;
}
#rememberMe{
   width: 200px;
}

